.limitWrap
 .title//标题
  display flex
  justify-content space-between
  align-items center
  padding 0 30px
  height 100px
  .t-left//左侧标题
   display flex
   align-items center
   h1
    font-size 32px
   .durTime//持续时间
    font-size 24px
    margin-left 15px
    display flex
    align-items center
    .hours
    .minutes
    .seconds
     display inline-block
     width 36px
     height 36px
     line-height 32px
     text-align center
     background-color #000
     color #fff
     margin 10px
    .col
      color #000
  .t-right
   display flex
   align-items center
   .iconfont
    margin-left 8px
    font-size 12px
    vertical-align middle
   .more
    font-size 28px 
 .contentLimit//内容
  padding-left 20px
  padding-right 15px
  display flex
  flex-wrap wrap
  .item
   a
    display flex
    flex-direction column
    width 216px
    height 269px
    margin-right 20px
    .imgWrap
     width 216px
     height 216px
     margin-bottom 12px
     background-color #eee
     img 
      width 216px
      height 216px
    .price
     height 41px
     width 216px
     padding-left 20px
     box-sizing border-box
     .currentPrice
      color #b4282d
     .oldPrice
      color #ccc